@import url("https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Montserrat:wght@400;500;700&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Montserrat;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
hgroup,
menu,
section {
  display: block;
}
body {
  line-height: 1;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*****Basic Elements*****/

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 54pt;
  font-weight: 700;
  line-height: 110%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 42pt;
  font-weight: 700;
  line-height: 110%;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24pt;
  font-weight: 400;
  line-height: 140%;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 20pt;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1;
}

h5 {
  font-family: "Montserrat", sans-serif;
  font-size: 18pt;
  font-weight: 700;
  line-height: 140%;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 18pt;
  font-weight: 400;
  line-height: 140%;
}

nav {
  position: fixed;
  width: 90%;
  padding: 16px 80px 16px 80px;
  background-color: black;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  z-index: 50;
}

.logo {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.nav-menu {
  display: inline-flex;
  align-items: center;
}

.nav-menu li {
  margin: 12px 0 12px 0;
  line-height: 140%;
  border-left: #ffffff 1px solid;
}

.nav-menu li:last-child {
  border-right: #ffffff 1px solid;
}

.nav-menu li > a {
  padding: 0 24px 0 24px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25.2px;
  color: #ffffff;
}

.nav-menu li :hover {
  color: #fcd70d;
}

.super-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.kv {
  width: 100%;
  padding: 80px 80px 0 80px;
  justify-content: space-between;
  align-items: flex-start;
  display: inline-flex;
  overflow: hidden;
}

.kv-content-left {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  flex-direction: column;
  gap: 48px;
  display: inline-flex;
}

.main-headline {
  width: 100%;
}

.second-headline {
  width: 100%;
}

.tools {
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  display: inline-flex;
  position: relative;
  left: -25px;
}

.kv-content-right {
  position: relative;
  right: 10px;
}

.history-container {
  display: flex;
  flex-direction: column;
}

.orange-line {
  position: relative;
}

.orange-line span {
  position: absolute;
  left: 440px;
  bottom: 0;
  display: block;
  width: 50%;
  height: 140px;
  border-right: 2px solid #fcd70d;
  border-bottom: 2px solid #fcd70d;
  z-index: -10;
}

.history-list {
  padding: 0 40px 0 40px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.work-container {
  padding: 20px 0 60px 20px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #fcd70d;
}

.work-container h2,
.skill-container h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 47px;
}

.work-container ul {
  list-style: disc outside url("pic/icon/oval.svg");
}

.work-container li {
  margin-bottom: 40px;
}

.work-container li > h3 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 8px;
}

.work-container li > h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}

.work-container li > p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 400;
}

.skill-container {
  padding: 20px 0 0 60px;
  display: flex;
  flex-direction: column;
}

.skill-container li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.skill-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.skill-item > h3 {
  margin-left: 16px;
  font-size: 24px;
  font-weight: 700;
}

.uiux-process,
.user-process,
.logo-process,
.graphic-process,
.animation-process {
  position: relative;
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.12);
}

.uiux-process::after,
.user-process::after,
.logo-process::after,
.graphic-process::after,
.animation-process::after {
  display: block;
  content: "";
  height: 10px;
  border-radius: 20px;
  background-color: #fcd70d;
}

.uiux-process::after {
  width: 100%;
}

.user-process::after {
  width: 87.5%;
}

.logo-process::after {
  width: 75%;
}

.graphic-process::after {
  width: 63%;
}

.animation-process::after {
  width: 62%;
}

.achieve-container {
  width: 100%;
}

.achieve-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 100px 135px 100px 135px;
}

.achieve-container li,
.projects-item-overview li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  box-shadow: 0px 50px 70px -20px rgba(96, 86, 62, 0.15);
}

.achieve-container li {
  background-color: #fcd70d;
  width: 300px;
  height: 180px;
}

.achieve-img {
  position: relative;
  top: 0;
}

.achieve-container li > h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 16px;
}

.achieve-container li > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 26px;
}

.project-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project-block {
  padding: 32px 80px 32px 80px;
  display: flex;
  align-items: center;
}

.project-block:nth-child(odd) {
  flex-direction: row;
}

.project-block:nth-child(even) {
  flex-direction: row-reverse;
}

.project-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.project-block:nth-child(odd) > .project-text {
  padding-right: 80px;
}

.project-block:nth-child(even) > .project-text {
  padding-left: 80px;
}

.project-text h2 {
  color: #21272a;
  font-size: 42px;
  font-weight: 700;
  line-height: 110%;
  margin-bottom: 48px;
}

.project-text p {
  color: #21272a;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 64px;
}

.learn-more {
  position: relative;
  background-color: transparent;
  padding: 15px 40px 15px 40px;
  border: none;
  display: flex;
  gap: 5px;
  align-items: flex-start;
  cursor: pointer;
}

.learn-more::before,
.learn-more::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -10;
  transition: all 0.5s ease-in-out;
}

.learn-more::before {
  background-color: #fcd70d;
  opacity: 1;
  transform: translate(0px, 0px);
}

.learn-more::after {
  background-color: #000;
  opacity: 0;
  transform: translate(10px, -10px);
}

.learn-more:hover::before {
  opacity: 0;
  transform: translate(-10px, 10px);
  transition: all 0.5s ease-in-out;
}

.learn-more:hover::after {
  opacity: 1;
  transform: translate(0px, 0px);
  transition: all 0.5s ease-in-out;
}

.learn-more > p {
  font-weight: 700;
  margin: 0;
  transition: all 0.5s ease-in-out;
}

.learn-more:hover > p {
  color: #fcd70d;
}

.learn-more > span {
  display: block;
  width: 24px;
  height: 24px;
  background-size: contain;
  transition: all 0.5s ease-in-out;
}

.learn-more > span {
  background-image: url("pic/icon/Star.svg");
}

.learn-more:hover > span {
  background-image: url("pic/icon/Star_orange.svg");
}

.project-img {
  position: relative;
  width: 50%;
  height: 450px;
}

.illustration-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px;
}

.illustration-container p {
  color: #fcd70d;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
}

.illustration-container h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 110%;
}

.illustratio-list ul {
  padding: 64px 0 64px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.see-more {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: transparent;
  border: none;
}

.see-more > p {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.projects-index-container {
  padding: 80px;
  background-image: url("pic/project/project_banner.png");
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: left 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}

.projects-index-main {
  position: relative;
  margin-right: 80px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-weight: 700;
  line-height: 110%;
}

.projects-index-circle {
  position: absolute;
  top: -150px;
  width: 600px;
  height: 600px;
  background-color: #fcd70d;
  border-radius: 50%;
  box-shadow: 0px 50px 70px -20px rgba(96, 86, 62, 0.15);
  z-index: -10;
}

.projects-index-main h1 {
  font-size: 54px;
}

.projects-index-main p {
  font-size: 42px;
  font-weight: 700;
  line-height: 110%;
}

.projects-item-main {
  padding: 80px 0 0 80px;
  display: flex;
  align-items: center;
}

.projects-item-intro {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.projects-item-intro h1 {
  font-size: 54px;
  font-weight: 700;
  line-height: 110%;
}

.projects-item-intro ul {
  margin-left: 30px;
  list-style: disc;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.projects-item-overview {
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-item-overview ul {
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  gap: 128px 64px;
}

.projects-item-overview li {
  position: relative;
  background-color: #ffffff;
  padding: 40px 20px 40px 20px;
  width: 468px;
  gap: 16px;
  text-align: center;
}

.projects-item-overview li > h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
}

.projects-item-overview li > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  height: 150px;
}

.overview-img {
  position: absolute;
  top: -50px;
}

.user-research {
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-research > p {
  color: #fcd70d;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.user-research > h2 {
  font-size: 42px;
  font-weight: 700;
  line-height: 110%;
}

.projects-summary {
  padding: 80px;
  display: flex;
  justify-content: center;
}

.projects-summary-text {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 24px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-shadow: 0px 50px 70px -20px rgba(96, 86, 62, 0.15);
}

.projects-summary-text > h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 140%;
}

.projects-summary-text > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

.footer {
  width: 90%;
  padding: 24px 80px 24px 80px;
  display: flex;
  align-items: center;
  background-color: #000;
}

.footer p {
  flex: 1 0 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.footer ul {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 1440px) {
}
