@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Montserrat:wght@400;500;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  overflow-x: hidden;

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*****Basic Elements*****/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 54pt;
  font-weight: 700;
  line-height: 110%;
  
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42pt;
  font-weight: 700;
  line-height: 110%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  font-weight: 400;
  line-height: 140%;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 700;
  line-height: 140%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 400;
  line-height: 140%;
}


header {
  background-color: black;
  padding: 16px 80px;
  
}

.navbar-container {
  width: 100%; 
  justify-content:space-between; 
  align-items: center; 
  gap: 48px;
  display: inline-flex;

}

.logo {
  width: 100%; 
  height: 100%; 
  justify-content: center; 
  align-items: center; 
  gap: 12px; 
  display: inline-flex;
}

.menu {
  width: fit-content;
  justify-content:right; 
  align-items: center; 
  display:inline-flex;
}

.whiteline {
  width: 30px; 
  height: 0px; 
  transform: rotate(90deg); 
  border: 0.50px white solid;
  align-content: center;
  justify-content: center; 
}

.menu-button {
  width: 140px; 
  height: 50px; 
  padding: 8px 12px;
  justify-content: center; 
  align-items: center; 
  display: inline-flex;

}

.menu-button a {
  color: #ffffff;
  font-size: 18px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 25.20px;
  text-decoration: none;
}

.menu-button :hover {
  color: #FCD70D;
}

.kv {
  width: 100%; 
  height: 100%; 
  padding-top: 80px; 
  padding-left: 80px; 
  padding-right: 80px; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
  overflow:hidden;
}

.kv-content-left {
  width: 100%; 
  height: 100%; 
  padding-top: 40px; 
  padding-bottom: 40px; 
  padding-left: 40px; 
  flex-direction: column; 
  justify-content:flex-end; 
  align-items: flex-end; 
  gap: 48px; 
  display: inline-flex;
}

.main-headline {
  width: 100%;
}

.second-headline {
  width: 100%;
}

.tools {
  width: 100%; 
  justify-content: flex-start; 
  align-items: flex-start; 
  display: inline-flex;
  position: relative; 
  left: -25px;
}

.kv-content-right {
  width: 100%; 
  position: relative; 
  left: -10px;
 
}

.history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.orange-line {
  width: 100%;
  display: flex;
  justify-content: center;
}

.orange-line span {
  position: relative;
  top: -120px;
  right: -100px;
  display: block;
  width: 760px;
  height: 140px;
  border-right: 2px solid #fcd70d;
  border-bottom: 2px solid #fcd70d;
  z-index: -10;
}


.history-list {
  padding: 0 40px 0 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  top: -120px;
}

.work-container {
  padding: 20px 0 60px 20px;
  display: flex;
  flex-direction: column;
  border-left: 2px solid #fcd70d;
}

.work-container h2,
.skill-container h2 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 47px;
}

.work-container ul {
  list-style: disc outside url("pic/Oval.svg");
}

.work-container li {
  margin-bottom: 40px;
  margin-left: -2px;
  padding-left: 8px;
}

.work-container li > h3 {
  font-size: 22px;
  font-weight: 900;
  margin-bottom: 8px;
}

.work-container li > h4 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 7px;
}

.work-container li > p {
  color: rgba(0, 0, 0, 0.54);
  font-size: 16px;
  font-weight: 400;
}

.skill-container {
  padding: 20px 0 0 60px;
  display: flex;
  flex-direction: column;
}

.skill-container li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 40px;
}

.skill-item {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.skill-item > h3 {
  margin-left: 16px;
  font-size: 24px;
  font-weight: 700;
}

.uiux-process,
.user-process,
.logo-process,
.graphic-process,
.animation-process {
  position: relative;
  display: block;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.12);
}

.uiux-process::after,
.user-process::after,
.logo-process::after,
.graphic-process::after,
.animation-process::after {
  display: block;
  content: "";
  height: 10px;
  border-radius: 20px;
  background-color: #fcd70d;
}

.uiux-process::after {
  width: 100%;
}

.user-process::after {
  width: 87.5%;
}

.logo-process::after {
  width: 75%;
}

.graphic-process::after {
  width: 63%;
}

.animation-process::after {
  width: 62%;
}

@media screen and (max-width: 1440px) {
}