@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  display:flex;
  align-items:center;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*****Basic Elements*****/

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 54pt;
  font-weight: 700;
  line-height: 110%;
  
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 42pt;
  font-weight: 700;
  line-height: 110%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 24pt;
  font-weight: 400;
  line-height: 140%;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-size: 20pt;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 1;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 700;
  line-height: 140%;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 18pt;
  font-weight: 400;
  line-height: 140%;
}

a {
  display: block;
  text-decoration: none;
  color: #fff;
}

.navbar{
  width: 100%;
  background-color: #000;
  height: auto;
  padding: 16px 80px;
}


.container{
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.logo {
  display: inline;
  width: 172.449px;
  height: 50px;
  padding-right: 0px;
  justify-content: center;
  align-items: center;
  gap: 12.207px;
  flex-shrink: 0;
}



  .menu {
    width:auto;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex-grow: 1;
    flex-shrink: 1;
  }

 .menu-button {
  display: flex;
  align-items: center;
  width: 140px;
  padding: 12px 8px;
  justify-content: center;
  gap: 8px;
 }

 .whiteline {
  width: 30px; 
  height: 0px; 
  transform: rotate(90deg); 
  border: 0.50px white solid;
  align-content: center;
 }

 .menu-button a h5:hover {
  color:#FCD70D;
 }