.nav_container {
  position: fixed;
  display: flex;
  background-color: #000000;
  height: 80px;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 16px 80px 16px 80px;
  color: #ffffff;
  font-family: Montserrat;
  z-index: 50;
}

.nav_list ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav_list li {
  margin: 12px 0 12px 0;
  padding: 0 24px 0 24px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%;
  border-left: #ffffff 1px solid;
}

.nav_list li :hover {
  color: #fcd70d;
}

.nav_list li:last-child {
  border-right: #ffffff 1px solid;
}
